*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

.app{
  display: flex;
  flex-direction: column;
  align-items:  center;
    
}

.hints{
  position: absolute;
  top: 0;
}

.score-strikes{
  width: 100%;
}
.score-strikes > *:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.score-strikes > *:nth-child(3) {
  display: flex;
  justify-content: end;
}

.final-score{
  text-align: center;
}

.icon-shown {
  opacity: 1;
  transition: all .1ms linear;
}

.icon-hidden {
  opacity: 0;
  transition: all 50ms linear;
}

.game-container{
  position: relative;
  width: 100%
}

.plants{
  width: 100%
}

